<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    </head>
    <body>
        <div class='mt-3 container text-center'>
        <h1>Generated Password</h1>
        <h2 class='alert alert-primary'>{{ password }}</h2>
        <!-- following command is used to access the url -->
        <a href="{% url 'index' %}" class='btn btn-success'>HOME</a>

    </div>
   </body>
</html>